img{
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    width: 290px;
}

#container{
    background-color: rgb(213,225,239);
    margin-left: 50px;
    margin-right: 50px;
    border: 50px;
}

body{
    background-color: rgb(240,240,240);
}

#main{
    background-color: white;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;
    margin: 50px 500px 0px 400px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* #main2{
    background-color: white;
    margin: 100px 20px 100px 2000px;
    padding: 50px 50px 50px 50px; 
    
} */
#image{
    text-align: center;  
}

h3{
    text-align: center;
    font-family: sans-serif;
}

p{
    text-align: center;
    color: grey;
    font-family: sans-serif;
}